@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family: "Outfit";
}

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  body {
    margin: 0;
  }

  .print\\:hidden {
    display: none !important;
  }

  .avoid-break {
    page-break-inside: avoid;
  }
}
